/* You can add global styles to this file, and also import other style files */

.title {
	text-align: center;
}

.modal-backdrop #account {
	display: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

imagesGrid{
	width: 300px;
	height: 300px;
}

/*.modal-dialog .modal-content {
	background-color: rgb(206, 214, 223);
}*/